@model Car.Models.Model

@{
    ViewBag.Title = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <form class="row mt-3">
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Brand</label>
                    <div class="col-sm-8">
                        <input type="text" placeholder="Brand" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Model</label>
                    <div class="col-sm-8">
                        <input type="text" placeholder="Model" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Min</label>
                    <div class="col-sm-8">
                        <input type="text" placeholder="Min Price" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Max</label>
                    <div class="col-sm-8">
                        <input type="text" placeholder="Max Price" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">City</label>
                    <div class="col-sm-8">
                        <input type="text" placeholder="City" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Status</label>
                    <div class="col-sm-8">
                        <input type="text" placeholder="Status" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-8">
                        <button type="submit" class="btn btn-outline-info col-12"><i class="bi bi-search"></i>Filter</button>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Admin/Index">Admin</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Model Add</li>
                </ol>
            </nav>
            <div class="image-thumbnail mt-3">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.ModelName,"Model Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ModelName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ModelName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BrandId, "Brand Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("BrandId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-outline-primary" />
                            @Html.ActionLink("Brand List", "Index", null, new { @class = "btn btn-warning" })
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
